<style>
    .icon {
        font-family: initial;
        font-weight: normal;
        font-size: 320%;
        background-color: #F0F0F0;
    }
    .btn-flat {
        filter: progid:DXImageTransform.Microsoft.Gradient(enabled='false');
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background-image: none;
        border: 0;
    }
    .hamburger-menu {
        width: 30px;
        height: 5px;
        background-color: #111;
        border-radius: 5px;
        position: relative;
    }

    .hamburger-menu:after, .hamburger-menu:before {
        content: '';
        width: 100%;
        height: 5px;
        background-color: #111;
        position: absolute;
        border-radius: 5px;
    }

    .hamburger-menu:after {
        top: 10px;
    }

    .hamburger-menu:before {
        top: 20px;
    }
</style>

<div>
    <span class="btn-flat icon">&#65513;</span>
    <span class="btn-flat">{{title}}</span>
    <div class="hamburger-menu"></div>
</div>
<hr />
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>


<form class="form-horizontal">
    <div class="form-group">
        <label for="studentId" ng-model="student.id" class="col-sm-2 control-label">Id</label>
        <div class="col-sm-6">
            <input type="text" ng-model="student.id" class="form-control" id="studentId" name="studentId" placeholder="id" required>
        </div>
    </div>
    <div class="form-group">
        <label for="studentName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-6">
            <input type="text" ng-model="student.name" class="form-control" id="studentName" name="studentName" placeholder="Name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="enrollDate" class="col-sm-2 control-label">Enroll Date</label>
        <div class="col-sm-6">
            <input type="text" id="enrollDate" class="form-control" ng-model="student.enrollDate" data-date-format="dd-MMM-yyyy" data-autoclose="1" bs-datepicker>
        </div>
    </div><!-- /input-group -->
    <!--<div class="form-group">
        <label for="course" class="col-sm-2 control-label">Course</label>
        <div class="col-sm-6">
            <select class="form-control" id="course" ng-model="myColor"
                    data-html="1" data-multiple="1" data-animation="am-flip-x"
                    ng-options="color.name for color in colors"
                    bs-select></select>
        </div>
    </div>-->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" ng-click="save()" class="btn btn-default">Save</button>
        </div>
    </div>
</form>